<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container" style="max-width:900px; margin-top:200px;">
    <h2 style="text-align:center;">🔁 Reset Password</h2>
    <p style="text-align:center; opacity:0.8;">
        Enter a new password for your account
    </p>

    <form method="POST" class="add-form">
        <input type="password" name="password" placeholder="New password" required>
        <button>Update Password</button>
    </form>
</div>

</body>
</html>
